# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
*/**/dist/*
*.turbo/*

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/docs
.turbo/*

node_modules/
supabase.html
.env
notes.md

# turbo
.turbo

# typescript - https://medium.com/hike-medical/ditching-yarn-creating-a-monorepo-with-pnpm-workspaces-6fa7e3bfe19c
*.tsbuildinfo
packages/wma-openapi-schema/dist/*
packages/wma-calculator-lib/dist/*
apps/ui/.next/*
packages/wma-calculator-lib/dist/*
appz
packages/wma-openapi-schema/src/*
